# Node / Next.js
node_modules/
.next/
out/
dist/
.cache/
pnpm-lock.yaml

# Env
*.env
*.env.*
!.env.example
apps/web/.env.local

# Foundry/Hardhat
contracts/out/
cache/
broadcast/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/